<p>product works!</p>

<input type="text" [(ngModel)]="priceMax">
<table border="1" class="table">
    <tr>
    <th>id</th>
    <th>title</th>
    <th>price</th>
    <th>quantite</th>
    <th>like</th>
    <th>Add Like</th>
    <th>Buy </th>

    </tr>
    <tr *ngFor="let p of listProduct,let i =index">
        <ng-container *ngIf="p.price<=priceMax || priceMax==null">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.like}}</td>
        <td><button (click)="increment(i)" class="btn btn-primary">addlike</button></td>
        <td><button (click)="incrementquantity(i)" [disabled]="p.quantity==0">Buy</button></td>
        </ng-container>


    </tr>
    <tr>
    </tr>
</table>